.gallery {
    height: 175vh;
    background: rgba(194, 194, 194, 0.811);
    position: relative;
    display: flex;
    gap: 2vw;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
  
    .column {
      position: relative;
      height: 100%;
      width: 25%;
      min-width: 250px;
      display: flex;
      flex-direction: column;
      gap: 2vw;
  
      .gridItem {
        height: 300px; // Adjust height as needed
        background-color: rgb(255, 255, 255);
        border-radius: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
  
        .text {
          font-size: 1.5rem; // Adjust size as needed
          color: #333; // Text color
          text-align: center;
        }
      }
  
      &:nth-of-type(1) {
        top: -45%;
      }
      &:nth-of-type(2) {
        top: -95%;
      }
      &:nth-of-type(3) {
        top: -45%;
      }
      &:nth-of-type(4) {
        top: -75%;
      }
    }
  }
  
  .spacer {
    height: 10vh;
  }
  