.gallery {
  height: 175vh;
  // background: #fa8322;
  background: url('/rose-petals.png') no-repeat center top / cover;
  position: relative;
  display: flex;
  gap: 2vw;
  padding: 2vw;
  box-sizing: border-box;
  overflow: hidden;

  /* Add overlay */
  // &::before {
  //   content: '';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: rgba(0, 0, 0, 0.288); 
  //   z-index: 1; 
  // }

  .column {
    position: relative;
    height: 100%;
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    z-index: 2; /* Ensures content is above the overlay */

    .gridItem {
      height: 300px; /* Adjust height as needed */
      background-color: rgb(255, 255, 255);
      border-radius: 1vw;
      border: 1px solid; /* Black border */
      display: flex;
      flex-direction: column; /* Ensures name and text stack vertically */
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 10px;
    
    
    .text {
      font-size: 1.2rem; /* Adjust size as needed */
      color: #333; /* Text color */
      text-align: center;
      font-weight: 200;
      font-style: italic;
    }
    
    .name {
      font-size: 1rem; /* Adjust size as needed */
      color: #555; /* Slightly muted color for the name */
      text-align: center;
      font-weight: bold;
      margin-top: 10px; /* Adds space between text and name */
    }
    
    }

    &:nth-of-type(1) {
      top: -45%;
    }
    &:nth-of-type(2) {
      top: -85%;
    }
    &:nth-of-type(3) {
      top: -45%;
    }
    &:nth-of-type(4) {
      top: -95%;
    }
  }
}

.spacer {
  height: 10vh;
}
